""" This file contains all confidential information for the logger package
    Copyright (c) 2020 M. Jonasse (martin.jonasse@mail.ch)
    Notes:
    - The file 'local_settings.py' is the working version (private, ignored by GIT)
    - The file 'local_settings.py.dist' is version controlled (public in GitHub)
    - New repository:
      - Mark this file as textfile (removes inspections)
      - Copy the 'local_settings.py.dist' to 'local_settings.py' and edit the secrets
"""


def username():
    """ name of the registered account at connect-web.groeling.com """
    return 'n/a'


def password():
    """ password for the registered account at connect-web.froeling.com """
    return 'n/a'


def customer_id():
    """ customer id is the database index for customer number
        Note:
            Open your personal account and navigate to the System page,
            the customer_id (DB index, number) is the forth part of the URL
    """
    return 'n/a'


def period_minutes():
    """ period (in minutes: {15,30,60}) for polling the above registered account """
    return '0'


def login_url():
    """ URL of the connect-web site  """
    return 'https://connect-web.froeling.com/#/login'


def facility_url():
    """ URL of the facility page """
    return 'https://connect-web.froeling.com/#/facility-dashboard'


def facility_info_url():
    """ URL of the facility info page """
    url = 'https://connect-web.froeling.com/#/facility/?/info/information'
    return url.replace('?', customer_id())


def boiler_info_url():
    ''' URL of the boiler info page '''
    url = 'https://connect-web.froeling.com/#/facility/?/components/1_100'
    return url.replace('?', customer_id())


def heating_info_url():
    ''' URL of the heating info page '''
    url = 'https://connect-web.froeling.com/#/facility/?/components/300_3100'
    return url.replace('?', customer_id())


def tank_info_url():
    ''' URL of the tank info page '''
    url = 'https://connect-web.froeling.com/#/facility/?/components/200_2100'
    return url.replace('?', customer_id())


def feed_info_url():
    ''' URL of the feed info page '''
    url = 'https://connect-web.froeling.com/#/facility/?/components/1_906'
    return url.replace('?', customer_id())
